@import "src/styles/variables";


.wrapper {
  position: relative;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    content: '';
    background: url(./img/clouds.png) no-repeat 50% 50%;
  }

  h5,
  h2 {
    color: #ffffff;
  }
}

.inner {
  position: relative;
  z-index: 10;
}


.text {
  margin: 0 auto $base * 12;
  max-width: 65%;
  font-weight: normal;
  font-size: $fs-md;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.btn {
  background: #ffffff;
  box-shadow: 0 5px 15px #6480E8;
  color: #565F82;

  &:hover {
    background-color: darken(#ffffff, 5%);
  }
}