@import '../../styles/variables';

h4 {
  font-weight: $fw-medium;
}

.accordion {
  @include list-null;


}

.item {
  border-bottom: 1px solid #d8e3fe;
}


.trigger {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: $base * 4;
}


.triggerIcon {
  margin-right: $base * 4;
  color: #8e96b7;
}

.triggerIconActive {
  margin-right: $base * 4;
  color: #495274;
}

.triggerText {
  font-weight: $fw-bold;
  font-size: $fs-md;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #8e96b7;
}

.triggerTextActive {
  font-weight: $fw-bold;
  font-size: $fs-md;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #495274;
}

.content {
  display: flex;
  padding: 0 $base * 4 $base * 4;
}

.contentText {
  padding-left: $base * 11;
  flex-grow: 1;
  font-weight: $fw-regular;
  font-size: $fs-md;
  line-height: 2;
  letter-spacing: 0.03em;
}

.contentBtn {
  margin-left: $base * 15;
  text-decoration: none;
  color: #7382A3;
}