@import "variables";

.sectionOuter {
  border-bottom: 1px solid $color-divider;
}

.sectionInner {
  max-width: 960px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;
}

.wide {
  max-width: 1200px;
}

.btn {
  @include quicksand;

  box-sizing: border-box;
  font-weight: $fw-bold;
  font-size: $fs-sm;
  padding: $base * 3 $base * 4;
  margin: 0;
  white-space: nowrap;
  background: none;
  border-radius: 2px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: $transition;
}

.primaryBtn {
  background-color: #d2e1ff;
  color: #3a79ff;

  &:hover {
    background-color: darken(#d2e1ff, 5%);
  }
}

.dangerBtn {
  background-color: #ffd7d7;
  color: #d43f3f;

  &:hover {
    background-color: darken(#ffd7d7, 5%);
  }
}

.secondaryBtn {
  background-color: #4c85ff;
  color: #fff;

  &:hover {
    background-color: darken(#4c85ff, 5%);
  }
}

.noBgBtn {
  //background-color: #d2e1ff;
  border: 1px solid #d1d1e4;
  color: #adb4d2;

  &:hover {
    color: darken(#adb4d2, 2%);
    border: 1px solid darken(#adb4d2, 2%);
  }
}

.taC {
  text-align: center;
}

.dots {
  @include list-null;

  display: flex;
  justify-content: center;
  margin-top: $base * 7;
  margin-bottom: $base * 7;
}

.dotsItem {
  width: $base * 2;
  height: $base * 2;
  border-radius: 100%;
  background-color: #d1d6e3;
  transition: $transition;
  cursor: pointer;

  & + & {
    margin-left: $base * 3;
  }
}

.dotsItemActive {
  background-color: #5283ff;
}

.btnGroup {
  display: inline-flex;

  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}