@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

// === MIXINS ===
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

@mixin list-null {
  padding: 0;
  margin: 0;
  list-style: none;
}
// === / MIXINS ===

// === VARIABLES ===
$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;
$fs-lg: 18px;
$fs-xl: 48px;


$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$transition: .2s;

$color-divider: #d8e3fe;

$color-primary: #697ca6;
$color-secondary: #6188ff;
// === / VARIABLES ===