@import "../../styles/variables";

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: $padding-vertical-sm;
  padding-bottom: $padding-vertical-sm;

}

.link {
  path {
    fill: #b6bac7;
    transition: $transition;
  }

  &:hover {
    path {
      fill: #5e81fe;
    }
  }
}

.active {
  path {
    fill: #5e81fe;
  }
}