@import "src/styles/variables";

.wrapper {
  background-color: #f5f8ff;
}

.sliderWrap {
  position: relative;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #d8e3fe;
  box-shadow: 0 $base * 4.25 $base * 12.5 #eff4ff;
}

.sliderItem {
  display: flex;
  margin: $base * 16 $base * 8;
}

.sliderGallery,
.sliderContent {
  @include list-null;
  flex-basis: 45%;
}

.sliderGallery {
  display: grid;

  grid-template-areas:
"b s1"
"b s2";

  grid-template-rows: $base * 33.75 $base * 36.25;
  grid-template-columns: $base * 65 $base * 33.75;
  grid-gap: $base * 2.5;

  margin-right: 10%;
}

.big {
  grid-area: b;

  position: relative;
  display: block;
  border-radius: $base * 1.25;
  background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
  filter: drop-shadow(0 $base * 4.25 $base * 25 #e5ebf8);
}

.small1 {
  grid-area: s1;

  display: block;
  border-radius: $base * 1.25;
  background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%);
  filter: drop-shadow(0 15px 100px #e5ebf8);
}

.small2 {
  grid-area: s2;

  display: block;
  border-radius: $base * 1.25;
  background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%);
  filter: drop-shadow(0 $base * 4.25 $base * 25 #e5ebf8);
}

.loupe {
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  width: $base * 16;
  height: $base * 16;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  transform: translate(-50%, -50%);
}

.sliderContent {
}

.text {
  margin-bottom: $base * 10;
  font-size: $fs-md;
  line-height: $base * 7;
  letter-spacing: 0.03em;
}

.dots {
  margin-top: $base * 25;
}

.btn {
  position: absolute;
  top: 50%;
  display: block;
  width: $base * 10;
  height: $base * 10;

  img {
    width: 100%;
    height: 100%;
  }
}

.btnPref {
  margin-right: $base * 16;
  right: 100%;
  transform: translateY(-50%);
}

.btnNext {
  margin-left: $base * 16;
  left: 100%;
  transform: translateY(-50%) rotate(180deg);
}

