@import "src/styles/variables";

h3 {
  font-weight: $fw-regular;
}

span {
  font-weight: $fw-bold;
}

svg {
  margin-left: 5px;
}

.wrapper {
  position: relative;
  background-color: #f5f8ff;
  overflow: hidden;
}

.text {
  margin-bottom: $base * 12;
  font-weight: $fw-regular;
  font-size: $fs-md;
  line-height: 2;
  letter-spacing: 0.03em;
}

.content {
  width: 50%;
}

.image {
  position: absolute;
  top: 0;
  left: 50%;
}