@import "styles/normalize";
@import "styles/variables";

// === COMMON ===
body {
  @include roboto;

  color: #8d96bd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include quicksand;

  padding: 0;
  margin: 0;
  font-weight: $fw-regular;
  color: #3d4f9f;
}

h1,
h2 {
  margin-bottom: $base * 7;
  font-size: 48px;
}

h3 {
  @include quicksand;

  margin-bottom: $base * 8;
  font-size: 36px;
}

h4 {
  margin-bottom: $base * 20;
  font-size: 24px;
}

h5 {
  @include roboto;

  margin-bottom: $base * 4;
  font-size: 10px;
}
// === / COMMON ===